.text {
 white-space: pre-line
 }
.butt {
  margin-top: 70px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
 
}
.nImg {

  width: 100px,
  height: 200px
}
}